.btn{
    background: transparent;
  border: none;
  color: #9CA3AF; /* Muted Gray text */
  flex: 1; /* Both buttons take equal width */
  padding: 8px 0;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;


}
.btn:hover{


    color: white;
}

.activeBtn {
  background-color: #10B981; /* Emerald Green (Your Theme Color) */
  color: white;
  box-shadow: 0 4px 6px -1px rgba(16, 185, 129, 0.4); /* Green Glow */
}
.btnT{

    background-color: rgba(0, 0, 0, 0.4); /* Very dark, transparent black */
  border-radius: 50px; /* Makes it fully round (pill shape) */
  padding: 4px; /* Space between the button and the edge */
  display: flex;
  margin-bottom: 2rem; /* Space below the buttons */
  border: 1px solid rgba(255, 255, 255, 0.05);
}
