body{
   background-color: #0d0c1d;
   font-family: 'Cairo', system-ui, -apple-system, sans-serif;
}
h1{

   color: #10B981;
}
Link{
    text-decoration: none;
    color: white;
    text-align: center;
}